@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Assignment 2</h1>
    </br>
    <h4>Which User are you?</h4>
    </br>
    <a asp-page="/Delivery Person/Index">Delivery Driver</a>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
    <a asp-page="/Customer/Index">Customer</a>
</div>
